@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Karla';
  @apply bg-gray-800 text-white
}
