$color-primary: #49b884;
$color-dark: #2d3d4d;
$color-light: #fafafa;

@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

body {
  background: $color-dark;
  color: $color-light;
  font-family: 'Karla', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.profile-pic { height: 90px; }
.container { max-width: 700px; }

a:not(.btn) {
  color: $color-primary;
  font-weight: 400;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    text-decoration: none;
    color: $color-primary;
    opacity: 0.5;
  }
}

.btn {
  &.btn-link {
    color: $color-light;
    background-color: $color-primary;
    border-width: 2px;
    border-radius: 0;
    margin-bottom: 1rem;
    font-weight: bold;
    border-color: $color-primary !important;
    transition: all 0.2s ease-in-out;

    &:not(.btn-sm) {
      padding: 1rem 1.25rem;
    }

    &:hover {
      background: transparent;
      color: $color-primary;
      text-decoration: none;
    }

    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }
}

::selection { background: $color-primary; }
::-moz-selection { background: $color-primary;}
